@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

.green-text {
    color: #07512C;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
  }